<section id="tasks">
    <header>
        <h2>{{name}}'s Tasks</h2>
        <menu>
            <button (click)="onStartAddTask()">Add Task</button>
        </menu>
    </header>
    <ul>
        @for( task of selectedUserTask; track task.id){
            <li>
                <app-task [task]="task"></app-task>
            </li>
        }
       
    </ul>
    @if(addTaskVisible){
        <div>
            <app-add-task [selectedUserId]="id" (cancel)="onCancel()"></app-add-task>
        </div>
    }
   
</section>
